:root {
  --main-blue: #45daab;
}

body {
    background-color: black;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: radial-gradient(#041b2a, #000000);
}

h1 {
    font-family: 'Raleway', sans-serif;
    color: #ffffffbf;
    transition: color 0.2s ease-in-out;
    font-size: 3vmin;
}

h2 {
    color: rgba(255, 255, 255, 0.753);
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    padding: 5px 0;
}

.main-text-container {
    text-align: center;
    
}

#main-circle-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: transparent;

    width: 30%;
    padding-top: 30%;
    margin: 0 auto;
}

#main-circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background-color: transparent;
    
    border: 2px solid white;
    border-radius: 50%;
    
    cursor: pointer;
    z-index: 1;
    /* transition: border 0.2s ease-in-out, background-color 1s ease-in-out; */
    /* box-shadow: 0 30px 2.2px rgba(255, 0, 0, 0.4); */
    /* transform: scale(5); */
    /* scale: 5; */
}










.projects-section {
    position: absolute;
    width: 50%;
    /* height: 100px; */
    opacity: 0;
    /* right: -30%; */
    z-index: -1;
}

.projects-section h2 {
    color: var(--main-blue);
    padding: 0;
}

.projects-list {
    width: 100%;
    border: 1px solid var(--main-blue);

}

.projects-list li {
    box-sizing: border-box;
    width: 100%;
    padding: 20px
}

.projects-list img {
    display: inline-block;
    width: 50%;
}

.projects-list h3, .projects-list p {
    display: inline-block;
    color: var(--main-blue);
    font-family: 'Raleway', sans-serif;

}

.projects-list h3 {
    font-size: 25px;
}

.projects-list p {
    font-size: 20px;
}


/* carousel btn */
.carousel-btn {
    background-color: transparent;
    transition: 0.25s background-color ease-in-out;
    
    width: 100%;
    border: none;

    cursor: pointer;
}

.carousel-btn:hover {
    background-color: #243a3da9;
}

.arrow {
    background-color: transparent;
    border: solid white;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 10px;
    margin: 0 auto;
}

.arrow-up {
    transform: rotate(-135deg) translate(-5px, -5px);
    -webkit-transform: rotate(-135deg) translate(-5px, -5px);
}

.arrow-down {
    transform: rotate(45deg) translate(-5px, -5px);
    -webkit-transform: rotate(45deg) translate(-5px, -5px);
}













.skills-section {
    position: absolute;
    width: 30%;
    left: -40%
}

.skills-section li {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: var(--main-blue)
}















.links-section {
    position: absolute;
    bottom: -30%;
    display: flex;
    flex-direction: row;
    width: 500px;
    border: 1px solid red;
}

.links-section i {
    /* display: inline-block; */
    width: 35px;
    text-align: center;
    height: 35px;
    background-color: var(--main-blue);
}