body {
    background-color: black;
}

.black-hole {
    position: relative;
    transform: rotate(40deg);
    /* filter:blur(10px); */
    
    width: 500px;
    height: 500px;
}


.top-particle {
    position: absolute;
    background-color: rgb(255, 219, 189);
    box-shadow: 0 -20px 50px rgb(255, 166, 0),
                0 -20px 80px rgb(255, 123, 0),
                0 -20px 20px rgb(255, 255, 255);
                /* 10px 0px 0 rgb(255, 255, 255); */

    width: 50px;
    height: 30px;

    offset-path: path("M 150 300 A 50 50 0 1 1 550 300 Q 700 300 600 350 Q 349 413 100 350 Q 0 300 150 300 ");
}

.bottom-particle {
    position: absolute;
    background-color: rgb(255, 219, 189);
    box-shadow: 0 -20px 50px rgb(255, 166, 0),
                0 -20px 80px rgb(255, 123, 0),
                0 -20px 20px rgb(255, 255, 255);  

    width: 50px;
    height: 30px;

    offset-path: path("M 550 300 A 50 50 0 1 1 150 300 ");
}






h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: rotate(-40deg);
}

svg {
    width: 500px;
    height: 500px;
}